
/* 好友信息，群信息 主界面  */
#chat_panel {width:250px; height:560px; position:absolute; right:20px; top:10px; background-color:#f3f3f3; display:none;}
#chat_panel_top  {height:20px;}
#chat_panel_head, #chat_panel_nav, #chat_panel_body {margin:5px; clear:both; overflow-x:hidden;}
#chat_panel_head {height:45px;}
#chat_panel_nav  {height:32px;}
#chat_panel_body {height:430; padding:0px; margin:0px;}

#chat_panel_head img {width:40px; height:40px;}
#chat_panel_head input {border:0px; width:180px; margin-left:8px; background-color:#f3f3f3;}
#chat_panel_head p,#chat_panel_body p {font-size:13px; padding:1px; margin:1px; margin-left:4px; width:170px; text-overflow:ellipsis; word-break:keep-all; white-space:nowrap; overflow:hidden;}

#chat_panel_nav {background-color:#C1C1C1; outline: 1px solid #999;}
#chat_panel_nav ul {clear:both; font-size:14px;}
#chat_panel_nav ul li {float:left; padding:8px; border-right:1px solid #888; 
    letter-spacing:1px; cursor:pointer; display:block;}
#chat_panel_nav ul li:hover {background-color:white;}
#chat_panel_nav ul li.last {border:0px;}

#chat_panel_body li {margin:5px 2px; height:45px; position:relative;}
#chat_panel_body li img {width:40px; height:40px; margin:0px; padding:0px;}
/* end 好友信息，群信息 主界面  */

/* 屏幕底部的信息状态 */
#stat_panel {height:30; width:900px; background:white; display:none;
    position:absolute; bottom:10px; left:50px; overflow:hidden; white-space:nowrap; outline:1px solid #999;}
#stat_panel_sum {width:100px; overflow:hidden; text-overflow:hidden; }
#stat_panel_detail {width:790; border-left:4px solid #222; height:30px;} 
#stat_panel_sum li {clear:both; padding:8px; font-size:13px; position:relative;}
#stat_panel_detail li {float:left; font-size:12px; padding:3px; margin:5px; width:100px; overflow:hidden; border-right: 1px solid #333; text-overflow:ellipsis;}
/* end 屏幕底部的信息状态 */

/* 好友 聊天窗口 */
#chat_window {width:360px; height:400px; background:white; float:left; z-index:2; display:none;}
#chat_window_top {height:5%; clear:both;}
#chat_window_head {height:13%; clear:both;  font-size:13px; padding:2px;}
#chat_window_body {height:82%; clear:both; padding:5px;}

#chat_window_head img {width:50px; height:50px;}
#chat_window_head p   {margin-left:5px; }
#chat_window_body div.line {width: 95%; margin:0px auto; height:10px; background-color:#e5e5e5; margin:3px;}
#chat_window_body textarea {width:97%; } 
#chat_window_body textarea.t1 {height:60%;}
#chat_window_body textarea.t2 {height:26%;}
/*  end 好友聊天窗口 */

/* 群聊天窗口 */
#zone_window {width:360px; height:400px; background:white; float:left; z-index:1; display:none;}
#zone_window_top {height:5%; clear:both;}
#zone_window_head {height:13%; clear:both;  font-size:13px; padding:2px;}
#zone_window_body {height:82%; clear:both; padding:5px;}

#zone_window_head img {width:50px; height:50px;}
#zone_window_head p   {margin-left:5px; height:15px; width:280px; text-overflow: ellipsis; overflow:hidden; white-space:nowrap;}
#zone_window_head p.p3 {height:29px; font-size:12px; white-space:normal;}
#zone_window_body div.line {width: 95%; margin:0px auto; height:5px; background-color:#e5e5e5; margin:2px;}
#zone_window_body textarea {width:97%;}
#zone_window_body textarea.t1 {height:60%;}
#zone_window_body textarea.t2 {height:25%;}
/* end 群聊天窗口 */


