$def with (context)
<html>
<head>
  	<style >
      body {font:16px/1.5 Tahoma,'Microsoft Yahei','Simsun'; line-height: 24px; letter-spacing: 1px;}
  </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Extract Content</title>
  <body style="width:800px; margin:0 auto; margin-top:30px; ">
        <form action="" method="get" accept-charset="utf-8">
          <p><a href="/extract_context" >Home</a>  &nbsp;&nbsp; URL <input type="text" name="url" size=80 >
            <input type="submit" value="Extract Content"></p>
        </form>

        <hr/>
        $if context:
            $:context
        $else:
            <em>Extract Content here</em>
    </body>
</head>
</html>

